* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

.site-header {
  width: 100%;
  height: 10%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-header .header-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.site-header .header-title {
  color: #fff;
}

.site-nav {
  width: 100%;
  height: 10%;
  background: #FB8A53;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav #calendar {
  margin-left: 15px;
}

.site-nav .nav-menu {
  display: flex;
  list-style: none;
  margin-right: 20px;
}

.site-nav .nav-menu .nav-links {
  text-decoration: none;
  color: #000;
  padding: 10px;
  opacity: .7;
  font-size: 20px;
  font-weight: bolder;
  transition: all .3s ease;
}

.site-nav .nav-menu .nav-links:hover {
  opacity: 1;
}

.site-nav .nav-menu .dropdown {
  position: relative;
}

.site-nav .nav-menu .projects-dropdown {
  display: none;
  position: absolute;
  background: #F1B366;
  min-width: 120px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style: none;
}

.site-nav .nav-menu .projects-dropdown .projects-links {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 12px 16px;
  transition: all .3s ease;
}

.site-nav .nav-menu .projects-dropdown .projects-links:hover {
  background: #dd9134;
}

.site-nav .nav-menu .dropdown:hover .projects-dropdown {
  display: block;
}

.site-main {
  height: 75%;
  display: flex;
}

.site-main .main-articles {
  width: 85%;
  height: 100%;
  background: #E45A57;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.site-main .main-articles .article {
  background: #F1B366;
  width: 80%;
  height: auto;
  margin: 10px;
  border-radius: 12px;
}

.site-main .main-articles .article .article-title {
  border-radius: 12px 12px 0 0;
  padding: .5em;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  display: block;
  text-align: center;
  transition: all .3s ease;
}

.site-main .main-articles .article .article-title:hover {
  cursor: pointer;
  background: #df9e4e;
  border-radius: 12px;
}

.site-main .main-articles .article .article-content {
  display: none;
  padding: .7em;
  transition: all .3s ease;
}

.site-main .main-articles .article .article-more {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  width: 100%;
  display: block;
  text-align: right;
  opacity: .7;
  transition: all .3s ease;
}

.site-main .main-articles .article .article-more:hover {
  opacity: 1;
}

.site-main .main-articles .main-tabs {
  margin-top: 25px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.site-main .main-articles .main-tabs .buttons {
  width: 100%;
  display: flex;
}

.site-main .main-articles .main-tabs .buttons .btn {
  width: 50%;
  height: 50px;
  outline: none;
  border: 2px solid #F1B366;
  background: #FB8A53;
  margin: 0 1%;
  border-radius: 12px;
  transition: all .3s ease;
}

.site-main .main-articles .main-tabs .buttons .btn:hover {
  cursor: pointer;
  background: #F1B366;
}

.site-main .main-articles .main-tabs .buttons .btn-active {
  background: #F1B366;
}

.site-main .main-articles .main-tabs .text {
  margin-top: 20px;
  display: none;
  background: #F1B366;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

.site-main .main-articles .main-tabs .active-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-main .main-articles .main-tabs .tabs-title {
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}

.site-main .main-articles .main-tabs .result {
  width: 51%;
  height: 40px;
  padding: 5px;
  margin: 20px auto;
  background: #F1B366;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.site-main .main-articles .main-tabs .stopwatch {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.site-main .main-articles .main-tabs .stopwatch .stopwatch-title {
  width: 100%;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.site-main .main-articles .main-tabs .stopwatch .tabs {
  width: 15%;
  text-align: center;
  padding: 15px;
}

.site-main .main-articles .main-tabs .stopwatch .tabs button {
  background: #F1B366;
  outline: none;
  border: 0;
  padding: 10px;
  border-radius: 15px;
}

.site-main .main-articles .main-tabs .stopwatch .tabs button:hover {
  cursor: pointer;
}

.site-main .main-articles .main-tabs .stopwatch .stopwatch-result {
  width: 100%;
  text-align: center;
  font-size: 22px;
}

.site-main .main-rightbar {
  height: 100%;
  width: 15%;
  background: url("ad.jpg") no-repeat center;
  background-size: cover;
}

.site-footer {
  height: 5%;
  background: #000;
  color: #fff;
  padding-left: 15px;
  display: flex;
  align-items: center;
}
